<header>
    <div class="header-top-area d-none d-lg-block">
        <div class="container-fluid container-full-padding">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="header-top-offer">
                        <p>Exclusive Black Friday ! Offer</p>
                        <span class="coming-time" data-countdown="2020/6/20"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header-top-right">
                        <div class="header-social">
                            <ul>
                                <li><a href="https://www.instagram.com/gaminggalaxyig/"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/gaminggalaxy21"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="htttps://bit.ly/ggalaxydiscord"><i class="fab fa-discord"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC7478Dq0DDGulBJ-IZ5UVXQ"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="https://www.twitch.tv/gaminggalaxytwitch"><i class="fab fa-twitch"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/gaming-galaxy-b47911227/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="header-top-action">
                            <ul>
                                <li>
                                    <div class="header-top-mail">
                                        <p><span>|</span><i class="far fa-envelope"></i><a href="mailto:gaminggalaxybusiness@gmail.com">gaminggalaxybusiness@gmail.com</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="header-user-login">
                                        <a href="#"><i class="fas fa-user"></i>Login</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="main-header">
        <div class="container-fluid container-full-padding">
            <div class="row">
                <div class="col-12">
                    <div class="main-menu">
                        <nav>
                            <div class="logo">
                                <a href="/"><img src="img/logo/logo.png" alt="Logo"></a>
                            </div>
                            <div id="mobile-menu" class="navbar-wrap d-none d-lg-flex">
                                <ul>
                                    <li class="show"><a href="/">Home</a></li>
                                    <li><a href="/aboutus">About Us</a>
                                        <ul class="submenu">
                                            <li><a href="/termsofservice">Terms Of Service</a></li>
                                            <li><a href="/privacypolicy">Privacy Policy</a></li>
                                            <li><a href="/contactus">Contact Us</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Creators</a>
                                        <ul class="submenu">
                                            <li><a href="/livestreaming">Livestreaming</a></li>
                                            <li><a href="/videoproduction">Video Production</a></li>
                                            <li><a href="/socialmedia">Social Media</a></li>
                                            <li><a href="/freestuff">Free Stuff</a></li>
                                            <li><a href="/tutorials">Tutorials</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Gamers</a>
                                        <ul class="submenu">
                                            <li><a href="/madden">Madden NFL 22</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Packages</a>
                                        <ul class="submenu">
                                            <li><a href="/bronze">Bronze</a></li>
                                            <li><a href="/silver">Silver</a></li>
                                            <li><a href="/gold">Gold</a></li>
                                            <li><a href="/galactic">Galactic</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Merch</a>
                                        <ul class="submenu">
                                            <li><a href="/customizedmerch">Customizable Merch</a></li>
                                            <li><a href="/galaxymerch">Gaming Galaxy Merch</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Around The Galaxy</a>
                                        <ul class="submenu">
                                            <li><a href="/podcast">Podcast</a></li>
                                            <li><a href="/followus">Follow Us</a></li>
                                            <li><a href="/newsletter">Newsletter</a></li>
                                            <li><a href="https://bit.ly/ggalaxydiscord">Discord</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-action">
                                <ul>
                                    <li class="header-shop-cart"><a href="#"><i class="fas fa-shopping-basket"></i><span>0</span></a>
                                        <ul class="minicart">
                                            <li class="d-flex align-items-start">
                                                <div class="cart-img">
                                                    <a href="#">
                                                        <img src="img/product/cart_p01.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="cart-content">
                                                    <h4>
                                                        <a href="#">Xbox One Controller</a>
                                                    </h4>
                                                    <div class="cart-price">
                                                        <span class="new">$229.9</span>
                                                        <span>
                                                            <del>$229.9</del>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="del-icon">
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="total-price">
                                                    <span class="f-left">Total:</span>
                                                    <span class="f-right">$239.9</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkout-link">
                                                    <a href="cart.html">Shopping Cart</a>
                                                    <a class="red-color" href="checkout.html">Checkout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="header-search"><a href="#" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
                <!-- Modal Search -->
                <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form>
                                <input type="text" placeholder="Search here...">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>