<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2>Contact<span> Us</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- contact-area -->
    <section class="contact-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-items-center">
                    <div id="contact-map" >
                        <div id="textsection">
                            <h4 class="maptext pt-2">Our current response time is</h4>
                            <h1 class="maptitle">12-24 Hours</h1>
                            <h4 class="maptext pt-2">Please be patient with us!</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-45">
                    <div class="section-title title-style-three mb-20">
                        <h2>Fill out the form<span> below!</span></h2>
                    </div>
                    <div class="contact-info-list mb-40">
                        <ul>
                            <li><i class="fas fa-envelope"></i>gaminggalaxybusiness@gmail.com</li>
                        </ul>
                    </div>
                    <div class="contact-form">
                        <form action="#">
                            <textarea name="message" id="message" placeholder="Write Message..."></textarea>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Your Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="Your Email">
                                </div>
                            </div>
                            <button>SUBMIT MESSAGE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-area-end -->
</main>