<link rel="stylesheet" href="public/css/slick.css">
<link rel="stylesheet" href="public/css/slick-theme.css">
<link rel="stylesheet" href="public/css/merchandise.css">
<script src="public/js/vendor/jquery-3.4.1.min.js"></script>
<script src="public/js/slick.min.js"></script>
<script src="public/js/merchandise.js"></script>

<main>
    <section>
        <div class="streamingResources">
            <div class="header">
                <div class="imageDisplay1"></div>
                <div class="imageDisplay2"></div>
                <div class="imageDisplay3"></div>
            </div>
            <div class="switches">
                <h3 class="pt-4 pb-2">Welcome to the official customizable merchandise store!</h3>
                <h4 id="smallText">The "customizable merch" contains designs that you can use for your own brand.</h4>
                <a href="#" class="mr-3 mt-2 btn selected-btn">T-SHIRTS</a>
                <a href="#" class="mr-3 mt-2 btn nonselected-btn">HOODIES</a>
                <a href="#" class="mr-3 mt-2 btn nonselected-btn">SWEATSHIRTS</a>
                <a href="#" class="mt-2 btn nonselected-btn">HATS</a>
                <a href="#" class="mt-2 btn nonselected-btn">LIFESTYLE</a>
            </div>
        </div>
    </section>
</main>

