<link rel="stylesheet" href="css/gold.css">

<main>
    <section>
        <div class="streamingResources">
            <div class="header">
                <h1 class="headline">GOLD PACKAGES</h1>
            </div>
            <div class="switches">
                <h3 class="pt-4 pb-2">Our gold packages are perfect for the well established creators</h3>
                <h4 id="smallText">Select the package below to display more details on what it contains.</h4>
                <a href="#" class="mr-3 mt-2 btn selected-btn">PACKAGE 1</a>
                <a href="#" class="mr-3 mt-2 btn nonselected-btn">PACKAGE 2</a>
                <a href="#" class="mr-3 mt-2 btn nonselected-btn">PACKAGE 3</a>
                <a href="#" class="mt-2 btn nonselected-btn">PACKAGE 4</a>
                <a href="#" class="mt-2 btn nonselected-btn">PACKAGE 5</a>
            </div>
        </div>
    </section>
</main>