<!-- main-area -->
<main>
    <!-- slider-area -->
    <section class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-bg slider-style-two">
                <div class="container-fluid container-full-padding">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-11">
                            <div class="slider-content">
                                <h6 data-animation="fadeInUp" data-delay=".4s">Welcome to the</h6>
                                <h2 data-animation="fadeInUp" data-delay=".4s">GAMING GALAXY</h2>
                                <p data-animation="fadeInUp" data-delay=".6s">This is the best place in the entire
                                    galaxy for gamers of all kinds. Whether you're a creator, tryhard or a casual, we've
                                    got something for you.</p>
                                <a href="#" class="btn btn-style-two" data-animation="fadeInUp" data-delay=".8s">LEARN
                                    ABOUT US</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-img" data-animation="slideInRightS" data-delay=".6s"><img
                        src="img/slider/slider_img01.png" alt=""></div>
                <div class="slider-img slider-img2" data-animation="slideInLeftS" data-delay=".6s"><img
                        src="img/slider/slider_img02.png" alt=""></div>
                <div class="slider-circle-shape"><img src="img/slider/slider_circle.png" alt="" class="rotateme"></div>
            </div>
        </div>
    </section>
    <!-- slider-area-end -->

    <!-- new-games-area -->
    <section class="released-games-area black-bg pt-115 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title title-style-three text-center mb-20">
                        <h2 style="color: white;">We're Made for <span>ALL</span> Gaming Creators, Both <span>BIG</span> and
                            <span>SMALL</span></h2>
                        <p style="color: white;">No longer will you have to search far and wide for a quality designer
                            or editor whenever you need something for your brand.</p>

                        <p>Test</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- new-games-area-end -->

    <!-- gamers-area -->
    <section class="just-gamers-area just-gamers-bg pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-10">
                    <div class="section-title title-style-three white-title mb-70">
                        <h2>MADE FOR <span>ALL</span> GAMERS</h2>
                        <p>Video games have served as an emotional crutch for us
                            whenever we've gone through hard times.

                            <br><br>No matter what our background is we all have one
                            shared love of video games and it is Gaming Galaxy's mission
                            to provide a community where this love is expressed for everyone including..

                        </p>
                    </div>
                    <div class="just-gamers-list">
                        <ul>
                            <li>
                                <div class="just-gamers-list-icon">
                                    <img src="img/icon/gamer_list_icon01.png" alt="">
                                </div>
                                <div class="just-gamers-list-content fix">
                                    <h5>Esports Players</h5>
                                    <p>There's nothing better than playing a game that you love and making money doing
                                        it</p>
                                </div>
                            </li>
                            <li>
                                <div class="just-gamers-list-icon">
                                    <img src="img/icon/gamer_list_icon02.png" alt="">
                                </div>
                                <div class="just-gamers-list-content fix">
                                    <h5>Competitors</h5>
                                    <p>Competitive gaming is something that we all love, assuming you're winning...</p>
                                </div>
                            </li>
                            <li>
                                <div class="just-gamers-list-icon">
                                    <img src="img/icon/gamer_list_icon03.png" alt="">
                                </div>
                                <div class="just-gamers-list-content fix">
                                    <h5>Casuals</h5>
                                    <p>Yea sex is great, but have you ever played a video game that brought back
                                        nostalgia? </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 d-none d-lg-block">
                    <div class="just-gamers-img">
                        <img src="img/images/just_gamers_img.png" alt="" class="just-gamers-character">
                        <div class="just-gamers-circle-shape">
                            <img src="img/images/gamers_circle_line.png" alt="">
                            <img src="img/images/gamers_circle_shape.png" alt="" class="rotateme">
                        </div>
                        <img src="img/images/just_gamers_chart.png" alt="" class="gamers-chart-shape">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gamers-area-end -->

    <!-- featured-game-area -->
    <section class="featured-game-area position-relative pt-115 pb-90">
        <div class="featured-game-bg"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title title-style-three text-center mb-70">
                        <h2>EXPLORE THE <span>GALAXY</span></h2>
                        <p>Below is a list of game categories that Gaming Galaxy has either made or
                            plans to create content for, we hope you like our selection <i class="fas fa-smile"></i>
                            <br><br>Want to see us cover a specific game? <a
                                href="mailto:gaminggalaxybusiness@gmail.com">Email us!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row featured-active">
                <div class="col-lg-4 col-sm-6 grid-item">
                    <div class="featured-game-item mb-30">
                        <div class="featured-game-thumb">
                            <img src="img/images/featured_game_thumb01.jpg" alt="">
                        </div>
                        <div class="featured-game-content">
                            <h4><a href="#">Minecraft</span></a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-exclamation-circle"></i>
                                <span>Everyone's favorite block game</span>
                            </div>
                        </div>
                        <div class="featured-game-content featured-game-overlay-content">
                            <div class="featured-game-icon"><img src="img/icon/featured_game_icon.png" alt=""></div>
                            <h4><a href="#">Minecraft</a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-exclamation-circle"></i>
                                <span>Released: 11/18/2011</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 grid-item">
                    <div class="featured-game-item mb-30">
                        <div class="featured-game-thumb">
                            <img src="img/images/featured_game_thumb02.jpg" alt="">
                        </div>
                        <div class="featured-game-content">
                            <h4><a href="#">???</span></a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-lock"></i>
                                <span>GAME IS CURRENTLY LOCKED</span>
                            </div>
                        </div>
                        <div class="featured-game-content featured-game-overlay-content">
                            <div class="featured-game-icon"><img src="img/icon/featured_game_icon.png" alt=""></div>
                            <h4><a href="#">???</span></a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-lock"></i>
                                <span>GAME IS CURRENTLY LOCKED</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 grid-item">
                    <div class="featured-game-item mb-30">
                        <div class="featured-game-thumb">
                            <img src="img/images/featured_game_thumb03.jpg" alt="">
                        </div>
                        <div class="featured-game-content">
                            <h4><a href="#">???</span></a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-lock"></i>
                                <span>GAME IS CURRENTLY LOCKED</span>
                            </div>
                        </div>
                        <div class="featured-game-content featured-game-overlay-content">
                            <div class="featured-game-icon"><img src="img/icon/featured_game_icon.png" alt=""></div>
                            <h4><a href="#">???</span></a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-lock"></i>
                                <span>GAME IS CURRENTLY LOCKED</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 grid-item">
                    <div class="featured-game-item mb-30">
                        <div class="featured-game-thumb">
                            <img src="img/images/featured_game_thumb06.jpg" alt="">
                        </div>
                        <div class="featured-game-content">
                            <h4><a href="#">???</a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-lock"></i>
                                <span>GAME IS CURRENTLY LOCKED</span>
                            </div>
                        </div>
                        <div class="featured-game-content featured-game-overlay-content">
                            <div class="featured-game-icon"><img src="img/icon/featured_game_icon.png" alt=""></div>
                            <h4><a href="#">???</a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-lock"></i>
                                <span>GAME IS CURRENTLY LOCKED</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 grid-item">
                    <div class="featured-game-item mb-30">
                        <div class="featured-game-thumb">
                            <img src="img/images/featured_game_thumb06.jpg" alt="">
                        </div>
                        <div class="featured-game-content">
                            <h4><a href="#">???</a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-lock"></i>
                                <span>GAME IS CURRENTLY LOCKED</span>
                            </div>
                        </div>
                        <div class="featured-game-content featured-game-overlay-content">
                            <div class="featured-game-icon"><img src="img/icon/featured_game_icon.png" alt=""></div>
                            <h4><a href="#">???</a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-lock"></i>
                                <span>GAME IS CURRENTLY LOCKED</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 grid-item">
                    <div class="featured-game-item mb-30">
                        <div class="featured-game-thumb">
                            <img src="img/images/featured_game_thumb05.jpg" alt="">
                        </div>
                        <div class="featured-game-content">
                            <h4><a href="#">???</a></h4>
                            <div class="featured-game-meta">
                                <i class="fas fa-lock"></i>
                                <span>GAME IS CURRENTLY LOCKED</span>
                            </div>
                        </div>
                        <div class="featured-game-content featured-game-overlay-content">
                            <div class="featured-game-icon"><img src="img/icon/featured_game_icon.png" alt=""></div>
                            <h4><a href="#"???</a></h4>
                                <div class="featured-game-meta">
                                    <i class="fas fa-lock"></i>
                                    <span>GAME IS CURRENTLY LOCKED</span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- featured-game-area-end -->

    <!-- cta-area -->
    <section class="cta-area cta-bg">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="cta-img">
                        <img src="img/images/cta_img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cta-content">
                        <div class="cta-icon mb-15">
                            <img src="img/icon/cta_icon.png" alt="">
                        </div>
                        <div class="section-title title-style-three white-title mb-50">
                            <h2>BEST PACKAGES ON <span>THE MARKET</span></h2>
                            <p>Need more then one asset? We've made packages that will allow you to get more bang for
                                your buck!</p>
                        </div>
                        <div class="cta-btn">
                            <a href="#" class="btn btn-style-two">CHECK THEM OUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta-area-end -->

    <!-- shop-area -->
    <section class="shop-area black-bg pt-115 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title title-style-three white-title text-center mb-40">
                        <h2>Shameless <span>merch </span>plug</h2>
                        <p>Our merchandise is the best quality on the market and even some designs
                            are customizable so you can use them for your brand!</p>
                    </div>
                </div>
            </div>
            <div class="row product-active">
                <div class="col-xl-3">
                    <div class="shop-item">
                        <div class="product-thumb">
                            <a href="#"><img src="img/product/s_product_img01.jpg" alt=""></a>
                        </div>
                        <div class="product-content">
                            <div class="product-tag"><a href="#">HOODIE</a></div>
                            <h4><a href="#">Content Creator Definition</a></h4>
                            <div class="product-meta">
                                <div class="product-price">
                                    <h5>$35.00</h5>
                                </div>
                                <div class="product-cart-action">
                                    <a href="#"><i class="fas fa-shopping-basket"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="shop-item">
                        <div class="product-thumb">
                            <a href="#"><img src="img/product/s_product_img02.jpg" alt=""></a>
                        </div>
                        <div class="product-content">
                            <div class="product-tag"><a href="#">T-SHIRT</a></div>
                            <h4><a href="#">God Is A Content Creator</a></h4>
                            <div class="product-meta">
                                <div class="product-price">
                                    <h5>$20.00</h5>
                                </div>
                                <div class="product-cart-action">
                                    <a href="#"><i class="fas fa-shopping-basket"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="shop-item">
                        <div class="product-thumb">
                            <a href="#"><img src="img/product/s_product_img03.jpg" alt=""></a>
                        </div>
                        <div class="product-content">
                            <div class="product-tag"><a href="#">Sweatshirt</a></div>
                            <h4><a href="#">Women's Abstraction</a></h4>
                            <div class="product-meta">
                                <div class="product-price">
                                    <h5>$30.00</h5>
                                </div>
                                <div class="product-cart-action">
                                    <a href="#"><i class="fas fa-shopping-basket"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="shop-item">
                        <div class="product-thumb">
                            <a href="#"><img src="img/product/s_product_img04.jpg" alt=""></a>
                        </div>
                        <div class="product-content">
                            <div class="product-tag"><a href="#">T-SHIRT</a></div>
                            <h4><a href="#">Influencer Definition</a></h4>
                            <div class="product-meta">
                                <div class="product-price">
                                    <h5>$20.00</h5>
                                </div>
                                <div class="product-cart-action">
                                    <a href="#"><i class="fas fa-shopping-basket"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="shop-item">
                        <div class="product-thumb">
                            <a href="#"><img src="img/product/s_product_img05.jpg" alt=""></a>
                        </div>
                        <div class="product-content">
                            <div class="product-tag"><a href="#">SNAPBACK HAT</a></div>
                            <h4><a href="#">One Of A Kind Snapback</a></h4>
                            <div class="product-meta">
                                <div class="product-price">
                                    <h5>$15.00</h5>
                                </div>
                                <div class="product-cart-action">
                                    <a href="#"><i class="fas fa-shopping-basket"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop-area-end -->

    <!-- blog-area -->
    <section class="blog-area pt-115 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title title-style-three text-center mb-70">
                        <h2>AROUND THE <span>GALAXY</span></h2>
                        <p>Here you'll find information about our social media, blog, discount opportunites as well as
                            information about any sort of upcoming events!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-post blog-style-two mb-50">
                        <div class="blog-thumb mb-30">
                            <a href="#"><img src="img/blog/s_blog_thumb01.jpg" alt=""></a>
                        </div>
                        <div class="blog-post-content">
                            <h4><a href="#">ATG Podcast | Episode 1</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><i class="far fa-clock"></i>Jan 1, 2021</li>
                                    <li><i class="fas fa-tag"></i><a href="#">Podcast</a></li>
                                </ul>
                            </div>
                            <p>In this episode we go over what it means to be a creator and how to
                                find your inner drive as well as [...]</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-post blog-style-two mb-50">
                        <div class="blog-thumb mb-30">
                            <a href="#"><img src="img/blog/s_blog_thumb02.jpg" alt=""></a>
                        </div>
                        <div class="blog-post-content">
                            <h4><a href="#">How To: Use Layer Masks</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><i class="far fa-clock"></i>Jan 2, 2022</li>
                                    <li><i class="fas fa-tag"></i><a href="#">Tutorial</a></li>
                                </ul>
                            </div>
                            <p>In this tutorial we go over how exactly to use layer masks within photoshop
                                and how you can [...]</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-post blog-style-two mb-50">
                        <div class="blog-thumb mb-30">
                            <a href="#"><img src="img/blog/s_blog_thumb03.jpg" alt=""></a>
                        </div>
                        <div class="blog-post-content">
                            <h4><a href="#">How To: Write A Good Hook</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><i class="far fa-clock"></i>Jan 3, 2022</li>
                                    <li><i class="fas fa-tag"></i><a href="#">Tutorial</a></li>
                                </ul>
                            </div>
                            <p>In this tutorial we explain how you can hook people in to your content and how
                                you can [...]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-area-end -->
</main>
<!-- main-area-end -->