<link rel="stylesheet" href="public/css/livestreaming.css">

<main class="background">
    <section>
        <div class="header">
            <h1 class="sectionName">Livestreaming</h1>
            <h2 class="sectionSubtitle">All of our streaming related resources are located here.</h2>
            <a href="#" class="mt-3 btn btn-style-two">Let's get started!</a>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
            <div>
                <i class="icons fas fa-icons"></i>
                <i class="share fas fa-share"></i>
                <i class="insta fab fa-instagram"></i>
                <i class="twitter fab fa-twitter"></i>
                <i class="discord fab fa-discord"></i>
                <i class="youtube fab fa-youtube"></i>
                <i class="twitch fab fa-twitch"></i>
                <i class="facebook fab fa-facebook"></i>
                <i class="reddit fab fa-reddit"></i>
                <i class="camera fas fa-camera"></i>
                <i class="mic fas fa-microphone"></i>
                <i class="tiktok fab fa-tiktok"></i>
                <i class="video fas fa-video"></i>
                <i class="photo-video fas fa-photo-video"></i>
                <i class="hashtag fas fa-hashtag"></i>
                <i class="heart fas fa-heart"></i>
                <i class="follower fas fa-user-plus"></i>
                <i class="steam fab fa-steam"></i> 
                <i class="comissions fas fa-comments-dollar"></i>
                <i class="money fas fa-money-bill-alt"></i>
            </div>
        </div>
    </section>
    <div class="streamingResources">
        <div class="switches">
            <h3 class="pt-4">Select what you're looking for below!</h3>
            <a href="#" class="mr-3 mt-2 btn selected-btn">PRODUCTS</a>
            <a href="#" class="mt-2 btn nonselected-btn">RESOURCES</a>
        </div>
    </div>
</main>
