<link rel="stylesheet" href="css/gamepages.css">

<main>
    <section>
        <div class="streamingResources">
            <div class="header">
                MADDEN NFL
            </div>
            <div class="switches">
                <h3 class="subText pt-4">Select the desired resource below!</h3>
                <a href="#" class="mr-3 mt-2 btn selected-btn">Products</a>
                <a href="#" class="mr-3 mt-2 btn nonselected-btn">Tips</a>
                <a href="#" class="mr-3 mt-2 btn nonselected-btn">Tutorials</a>
                <a href="#" class="mt-2 btn nonselected-btn">Resources</a>
            </div>
        </div>
    </section>
</main>